                                                    <!-- Bảng Thông Tin Các Mục Trang Chủ -->
{% extends "employee_information/base.html" %} {% load humanize %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12" style="box-shadow: 8px 8px 10px grey; border-radius: 20px;">
    <div class="mdc-card"  style="border-radius: 20px; align-items: center;">
        <div class="d-flex justify-content-between">
            <h4 class="card-title mb-0" style="font-size: 25px;">Trang Chủ</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <hr class="w-100">
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet" style="box-shadow: 5px 10px 5px #55d9ab; border-radius: 10px; ">
    <div class="mdc-card info-card info-card--success" style="border-radius: 10px;">
        <div class="card-inner">
            <h5 class="card-title">Phòng Ban</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_department|intcomma }}</h5>
            <p class="tx-12 text-muted">Tổng Số Phòng Ban</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">business</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet"  style="box-shadow: 5px 10px 5px #9c60cb; border-radius: 10px; ">
    <div class="mdc-card info-card info-card--primary" style="border-radius: 10px;">
        <div class="card-inner">
            <h5 class="card-title">Vị Trí</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_position|intcomma }}</h5>
            <p class="tx-12 text-muted">Tổng Số Vị Trí</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">list</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet" style="box-shadow: 5px 10px 5px #4399ce; border-radius: 10px; ">
    <div class="mdc-card info-card info-card--info" style="border-radius: 10px;">
        <div class="card-inner">
            <h5 class="card-title">Nhân Viên</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_employee|intcomma }}</h5>
            <p class="tx-12 text-muted">Tổng Số Nhân Viên</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">group</i>
            </div>
        </div>
    </div>
</div>
<!-- <table style="width:100%">
    {% for employee in employees %}
    <tr>
        <td width="20%">{{ employee.code }}</td>
        <td width="30%">{{ employee.name }}</td>
        <td width="20%">{{ employee.contact }}</td>
        <td width="30%">{{ employee.address }}</td>
    </tr>
    {% endfor %}
</table> -->
{% endblock pageContent %}