                                                    <!-- Menu Trái -->
{% load static %}
<!-- partial:partials/_sidebar.html -->
<style>
    a:hover{
        background-color: mediumblue;
        border-radius: 10px;
        transition: 0.3s;   
    }
    
</style>
<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open"  style="background-image: url('https://wallpapercave.com/wp/wp6080925.jpg'); background-size: cover;">
    <div class="mdc-drawer__header border-bottom border-light" style="margin-top: 50px;">
        <!-- <a href="{% url 'home-page' %}" class="brand-logo"> -->
            
            <h3 class="text-center text-light">PK Tech</h3>
        <!-- </a> -->
    </div>
    <div class="mdc-drawer__content" style="margin-top: 20px;">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'home-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i> Trang Chủ
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'department-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">business</i> Phòng Ban
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'position-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">list</i> Vị Trí
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'employee-page' %}">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">group</i> Nhân Viên
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <div class="bottom" style="display: flex; justify-content: center; align-items: center;">
        <img src="https://thumbs.dreamstime.com/b/creative-pk-logo-icon-design-simple-clean-crisp-vector-format-170820372.jpg" 
            style="width: 150px; height: 150px; margin-bottom: 55px; border-radius: 10em 4em;"/>
    </div>
</aside>

<!-- partial -->